
@model SGUMusicStore.Models.User


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/login")
<div class="container">
    <form id="loginForm" action="~/Login/kiemtradangnhap" method="post" class="form-login form-login-cus">
        @Html.AntiForgeryToken()
        <div class="login-box-cus">
            <p class="heading">đăng nhập tài khoản</p>
            <div class="heading-login-with">Nhập tên đăng nhập và mật khẩu của bạn</div>
            <div class="header-box login-box">
                <div class="form-control err">
                    <input type="text"
                           value=""
                           name="username"
                           id="email-cus"
                           placeholder="Username"
                           class="modal-form-input" />
                    <small></small>
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })

                </div>
                <div class="form-control err">
                    <input type="password"
                           id="password-cus"
                           placeholder="Password"
                           name="password"
                           value=""
                           class="modal-form-input" />
                    <small></small>
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>

                <div class="recapcha">
                    This site is protected by reCAPTCHA and the Google
                    <a class="recapcha-link" href="">Privacy Policy</a> and
                    <a class="recapcha-link" href="">Terms of Service</a> apply.
                </div>

                <div class="g-recaptcha" data-sitekey="6Lc7qQsmAAAAAD4KHU04xef_E6OYf0cUQPpSlgwz" data-callback="verifyCaptcha"></div>
                <input type="hidden" name="captchaVerified" id="captchaVerified" value="false"><br>

                <button type="button" onclick="verifyCaptchaAndSubmit()" class="button-login  button-hover">
                    ĐĂNG NHẬP
                </button>

                <div class="modal-help">
                    Khách hàng mới?
                    <div style="display: inline; cursor: pointer"
                         id="modal-register"
                         class="modal-link">
                        Tạo tài khoản
                    </div>
                </div>
                <div class="modal-help">
                    Quên mật khẩu?
                    <div style="display: inline; cursor: pointer"
                         id="modal-reset-password"
                         class="modal-link">
                        Khôi phục mật khẩu
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src='https://www.google.com/recaptcha/api.js?hl=vi'></script>
@Scripts.RenderFormat("<script src='{0}' type='module'></script>", "~/bundles/login")
@Scripts.Render("~/bundles/admin/jquery")
<script>
    $('#modal-register').click(() => {
        window.location.href = '/register'
    })
</script>

<script>
    $(document).ready(function () {
        $('#loginForm').submit(function (event) {
            var isCaptchaVerified = $('#captchaVerified').val();
            if (isCaptchaVerified !== 'true') {
                alert('Vui lòng xác thực CAPTCHA trước khi đăng nhập.');
                event.preventDefault(); // Ngăn chặn gửi form nếu CAPTCHA chưa được xác thực
            }
        });

        // Hàm gọi khi CAPTCHA được xác thực thành công
        window.verifyCaptcha = function () {
            $('#captchaVerified').val('true');
        };
    });
</script>

<script>
    function verifyCaptchaAndSubmit() {
        var isCaptchaVerified = $('#captchaVerified').val();
        if (isCaptchaVerified !== 'true') {
            alert('Vui lòng xác thực CAPTCHA trước khi đăng nhập.');
        } else {
            $('#loginForm').submit();
        }
    }
</script>
